<div>
        {{#each prods}}
            <div class="card">
                <h1>{{this.title}}</h1>    
                <p class="price">$ {{this.price}}</p> 
                <p>{{this.description}}</p>    
                <h5>{{this.category}}</h5> 
               <p><button>Add to Cart</button></p>
            </div>
        {{/each}}
     
</div>



