<div>
    
    <div>
        <form action="/api/realtimeproducts" method="post">
            <input type="text" name="title" placeholder="title">
             <input type="description" name="description" placeholder="description">>
             <input type="category" name="category" id="category" placeholder="category">>
             <input type="stock" name="stock" id="stock" placeholder="stock">>
             <input type="code" name="code" id="code" placeholder="code">>
            <input type="number" name="price" id="price" placeholder="price">
            <input type="submit" name="Send" id="button">
        </form>
     </div>

    <div class="productsList">
        <div>
         <h1>Products in real time:</h1>
            {{#each prods}}
           
                <div class="card">
                    <h1>{{this.title}}</h1>    
                    <p class="price">$ {{this.price}}</p> 
                    <p>{{this.description}}</p>    
                    <h5>{{this.category}}</h5> 
                <p><button>Add to Cart</button></p>
                </div>
            {{/each}}
        </div>  
    </div>
     <script src="/socket.io/socket.io.js"></script>
    <script src="/js/realTimeProducts.js"></script>
     
</div>

